.App {
  text-align: center;
}

.hero {
  margin-bottom: 40px;

  .hero-content {
    padding: 30px;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    float: right;
    width: 300px;

    .nav-item {
      color: white;
      &:hover {
        color: $grey;
      }
    }
  }
}

.login {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
  margin: 0 auto;
  .card {
    width: 300px;
    margin: 10px;
    padding: 10px;

    .friend-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
